#countLabel{
    display: block;
    text-align: center;
    font-size: 8em;
    font-family: 'Times New Roman', Times, serif;
}
#btnContainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.3em;
    color:white;
    background-color: rgb(102, 102, 253);
    border: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.buttons:hover{
    background-color: rgb(41, 41, 251);
}